* {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
-webkit-tap-highlight-color: transparent;
}

button {
  background-color: black;
}
#arrow {
  width: 200% !important;
  height: 100% !important;
  padding: 1rem !important;
}
#load {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

button:hover {
  background-color: gray;
}

}
#img_cont {
  display: table;
  width: 90%;
  margin: 20px auto;
}

#img_cont #milk  {
  display: table-cell;
  text-align: center;
  width: 16%;
}

#img_cont img {
  width: 100%;
  max-width: 400px;
}

#img_cont h1 {
  display: table-column;
}


article img {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

script, style, head {display: none;}

h1, h1 a {
    color: black;
  	font-family: 'Open Sans';
  	font-weight: 800;
  	letter-spacing: -2px;
  	line-height: 84px;
  	text-transform: uppercase;
    font-size: calc(4rem + 4vw);
    padding: 2rem;
    text-decoration: none;
    text-align: center; 
}


#type {
  display: flex;
  flex-direction: row;
}

#type img {
  padding-top: 3rem;
  padding-right: 2rem;
  height: 80%;
}

h1 #chocolate {
  color: #CE3312;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

h2 {
font-family: 'Roboto Condensed', sans-serif;
color: black;
text-align: left;
font-style: bold;
padding: 1rem;
}

header {
display: flex;
flex-direction: column;
align-items: center;
background-color: black;
padding: calc(1rem + 2vw) 0;
}

h3 {
  font-family:'Open Sans';
  font-size: calc(1rem + 1vw);
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

h4 a {
 text-decoration: none;
 color: inherit;
}

h4 {
  text-align: center;
  font-family: 'Open Sans';
  font-size: calc(0.5rem + 1vw);
}

h4 a {
 text-decoration: none;
 color: inherit;
}

body {
  background-color: white;
}

p {
  color: #231900;
	font-family: 'Crimson Text';
	font-size: calc(1rem + 0.5vw);
	font-style: italic;
  padding-top: 0;
  text-align: left;
}

.column {
  width: 75%;
  min-width: 420px;
  margin-left: auto ;
  margin-right: auto ;
}

select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 300px;
}
