* {
  display: block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
-webkit-tap-highlight-color: transparent;
}

#img_cont {
  display: table;
  width: 90%;
  margin: 20px auto;
}

#img_cont #milk  {
  display: table-cell;
  text-align: center;
  width: 16%;
}

#img_cont input {
  width: 100%;
  max-width: 400px;
}

#img_cont h1 {
  display: flex;
}
article img {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

article {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

script, style, head {display: none;}

h1, h1 a {
    color: black;
  	font-family: 'Open Sans';
  	font-weight: 800;
  	letter-spacing: -2px;
  	line-height: 84px;
  	text-transform: uppercase;
    font-size: calc(4rem + 4vw);
    padding: 2rem;
    text-decoration: none;
}

#type {
  display: flex;
  flex-direction: row;
}

#type img {
  padding-top: 3rem;
  padding-right: 2rem;
  height: 80%;
}

h1 #chocolate {
  color: #CE3312;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

h2 {
font-family: 'Roboto Condensed', sans-serif;
color: black;
text-align: left;
font-style: bold;
padding: 1rem;
}

header {
display: flex;
flex-direction: column;
align-items: center;
background-color: black;
padding: calc(1rem + 2vw) 0;
}

h3 {
  font-family:'Open Sans';
  font-size: calc(1rem + 1vw);
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
}

h4 a {
 text-decoration: none;
 color: inherit;
}

h4 {
  text-align: center;
  font-family: 'Open Sans';
  font-size: calc(0.5rem + 1vw);
}

h4 a {
 text-decoration: none;
 color: inherit;
}

body {
  background-color: white;
}

p {
  color: #231900;
	font-family: 'Crimson Text';
	font-size: calc(1rem + 0.5vw);
	font-style: italic;
  padding-top: 0;
  text-align: left;
}

.column {
  width: 75%;
  min-width: 420px;
  margin-left: auto ;
  margin-right: auto ;
}
