{% extends "layout.html" %}

{% block title %}
    Home.
{% endblock %}
{% block main %}

<!-- header information -->
<div id="type">
	<a href="{{ url_for('index') }}"><img id ="arrow" src="static/arrow.svg" alt="back"></a>
	<h1 style="color:#3F1F09;"> {{ milk }}</h1>
</div>

<!-- renders each article from news data for this particular type of milk -->
{% for article in news %}
	<article>
	<a href={{ article.url }}><img src= {{ article.urlToImage }}></></a>
	<h2>{{ article.title }}</h2>
	<p>{{ article.description }}</p>
	</article>
	{% endfor %}
{% endblock %}
