{% extends "layout.html" %}

{% block title %}
    Home.
{% endblock %}
{% block main %}
<!-- JS for the function when serving milk, it clears the main page -->
<script type="text/javascript">
  function load() {
   document.getElementById('load').style.display = "block";
   document.getElementById('img_cont').style.display = "none";
   document.getElementById('title').style.display = "none";
   document.getElementById('politics').style.display = "none";
  }

</script>

<!-- Tracking for Googles -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81206006-3', 'auto');
  ga('send', 'pageview');

</script>


<h1 id= "title"> CHOOSE MILK.</h1>
<!-- form for selecting type of milk based on images -->
<form id="img_cont"action="{{ url_for('index') }}" method="post" onsubmit="load()">
    <div id="wrapper">
      <div id="milk"/><button type="submit" name="milk" value="whole"><img src="static/whole.png"></button></div>
      <div id="milk"/><button type="submit" name="milk" value="chocolate"><img src="static/chocolate.png"></button></div>
      <div id="milk"/><button type="submit" name="milk" value="skimmed"><img src="static/skimmed.png"></button></div>
    </div>
</form>


<div id="load" style="display: none;"><h1>serving milk...</h1></div>
{% endblock %}
