{% extends "layout.html" %}

{% block title %}
    Home.
{% endblock %}
{% block main %}

<!-- JS for the function when serving milk, it clears the main page -->
<script type="text/javascript">
  function load() {
   document.getElementById('delete').style.display = "none";
   document.getElementById('load').style.display = "block";
   document.getElementById('img_cont').style.display = "none";
   document.getElementById('title').style.display = "none";
   document.getElementById('politics').style.display = "none";
  }
   
</script>

<h1 id= "title"> CHOOSE MILK.</h1>

<!-- form for selecting type of milk based on images -->
<form id="img_cont"action="{{ url_for('index') }}" method="post" onsubmit="load()">
    <div id="wrapper">
  <div id="milk"/><button type="submit" name="milk" value="chocolate"><img src="static/chocolate.png"></button></div>
    <div id="milk"/><button type="submit" name="milk" value="skimmed"><img src="static/skimmed.png"></button></div>
  <div id="milk"/><button type="submit" name="milk" value="whole"><img src="static/whole.png"></button></div>
</div>
</form><br><br><br>
<a id= "delete" href="{{ url_for('deliver') }}"><button><h1 style="color: white; font-size: calc(2rem + 2vw);">deliver my milk</h1></button></a>
  <div id="load" style="display: none;"><h1>serving milk...</h1></div>
{% endblock %}
