{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<h3> {{ error }} </h3>
<br>
    <form id="deliver" action="{{ url_for('deliver') }}" method="post">
        <input name="email" placeholder="Email" type="text"/>
       <h3> Select milk type to be delivered.  </h3><select id="soflow" name="milktype">
  <option value="chocolate" style="background-image:url(https://soylent-production-herokuapp-com.
global.ssl.fastly.net/static/images/home/coffiest.d1308ee2bb8b.jpg)";>chocolate</option>
  <option value="skimmed" style="background-image:url(https://soylent-production-herokuapp-com.
global.ssl.fastly.net/static/images/home/coffiest.d1308ee2bb8b.jpg)";>skimmed</option>
  <option value="milk" style="background-image:url(https://soylent-production-herokuapp-com.
global.ssl.fastly.net/static/images/home/coffiest.d1308ee2bb8b.jpg)";>whole</option>
    </select> 
        <button type="submit"><h1 style="color: white;">deliver?</h1></button>
    </form>
<br>
<br>

{% endblock %}
